<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maybe Love</title>
  </head>
  <body>
    <main class="px-6 py-[8vh] max-w-[76ch] mx-auto xl:text-lg dark:prose-invert h-full min-h-screen max-h-screen">
      <slot /> <!-- 你的内容会被插入到这里 -->
    </main>
  </body>
</html>